@import '~@/styles/mixin.scss';
.tab {
    margin-top: 10px;
    .tab-title {
      @include border_style($direction: left, $width: 5px);
      font-size: 18px;
      padding-left: 10px;
      margin: 20px 0;
      font-weight: bold;
    }
    .tab-des {
      font-size: 14px;
      margin-bottom: 20px;
      padding-left: 20px;
    }
    .tab-des span {
      vertical-align: middle;
    }
    .tab-des-circle {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #333;
      border-radius: 50%;
      margin-right: 5px;
    }
    .tab-img img {
      width: 150px;
      height: 150px;
    }
    .tab-img p {
      color: #7f7f7f;
      font-size: 14px;
      margin-top: 10px;
      width: 150px;
      text-align: center;
    }
  }