@import '~@/styles/mixin.scss';
.wrap-head{
    /deep/ .el-button--text{
      color: #666;
      font-size: 14px;
      line-height: 28px;
    }
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgba(238, 238, 238, 100);
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: #fff;
    .icon-restore{
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .wrap-body{
    padding: 15px;
    position: absolute;
    top:48px;
    left:0px;
    bottom:48px;
    right: 0;
    overflow:auto;
    /deep/ .el-alert--info.is-light{
      background-color: rgba(244, 244, 245, 100);
      color: rgba(144, 147, 153, 100);
      .el-alert__description{
        color: rgba(144, 147, 153, 100);
      }
    }
  }
  
  .config-title{
    font-size: 14px;
    text-align: left;
    font-family: Roboto;
    border-left: 3px solid $baseColor;
    @include border_style($direction: left, $width: 3px);
    padding-left: 15px;
    span{
      color: rgba(153, 153, 153, 100);
      font-size: 14px;
      text-align: left;
      font-family: Arial-regular;
      border-left: 1px solid #DDDDDD;
      margin-left: 5px;
      padding-left: 5px;
      line-height: 19px;
    }
  }
  
  .wrap-body-form{
    display: flex;
    padding-top: 15px;
    .we-emple-code-tags-tip{
      color: rgba(153, 153, 153, 100);
      font-size: 14px;
      text-align: left;
      font-family: Arial-regular;
      padding-left: 10px;
    }
  }
  
  .wrap-body-form .form{
    width: 572px;
  }
  .wrap-footer{
    width: 100%;
    height: 48px;
    border-top: 1px solid rgba(238, 238, 238, 100);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 900;
    text-align: center;
    line-height: 48px;
  }
