.customer-group-dialog {
    .tip {
        color: #aaa;
        font-size: 12px;
    }
    /deep/ .image-uploader {
        display: flex;
        align-items: flex-end;
        .uploader-icon {
            width: 80px;
            height: 80px;
            line-height: 80px;
        }
        .upload-img {
            width: 80px;
            height: 80px;
        }
        .tip {
            line-height: 16px;
            margin-left: 10px;
        }
    }
    .uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
        border-radius: 6px;
        border: 1px dashed #d9d9d9;
        cursor: pointer;
    }
}